* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito Sans;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}


/* header start */

header nav {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-top: 42px;
    margin: auto;
}

header nav .header-left {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .header-left .dropdown {
    position: relative;
}

header nav .header-left .dropdown a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    display: flex;
    align-items: center;
}

header nav .header-left .dropdown a .fas {
    font-size: 15px;
    margin-left: 10px;
}

header nav .header-left .dropdown .dropdown-item {
    position: absolute;
    width: 200px;
    top: -60px;
    left: -60px;
    background-color: rgb(255, 255, 255);
    padding: 60px;
    border-radius: 12px;
    display: none;
}

header nav .header-left .dropdown .dropdown-item .dropdown-item-a {
    padding: 15px 0;
}

header nav .header-left .dropdown .dropdown-item .dropdown-item-a-first {
    background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header nav .header-left .dropdown .dropdown-item .dropdown-item-a-first {
    padding-bottom: 15px;
}

header nav .header-center {
    width: 497px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav .header-center .header-number h4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #379bad;
}

header nav .header-center .header-add-btn button {
    background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

header nav .header-center .header-add-btn button i {
    margin-left: 20px;
}

header nav .header-right-ul {
    width: 600px;
}

header nav .header-right-ul ul {
    display: flex;
}

header nav .header-right-ul ul li {
    padding: 0 30px;
}

header nav .header-right-ul ul li a {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #8b95a0;
}

header nav .header-right-ul .header-right-bars button {
    position: fixed;
    top: 45px;
    right: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
}

header nav .header-right-ul .hover-ul {
    position: relative;
}

header nav .dropdown-item-ul {
    width: 300px;
    position: absolute;
    top: -75px;
    left: -30px;
    padding: 60px;
    display: none;
}

header nav .dropdown-item-ul ul {
    display: block;
}

header nav .dropdown-item-ul ul li a {
    padding: 15px 0;
}

header nav .dropdown-item-ul ul li {
    padding: 15px 0;
}


/* header end */


/* section start */

.button-active {
    background: linear-gradient(270deg, #1b558d 0%, #379bad 100%) !important;
    color: white !important;
}

.ibi {
    margin-top: 200px;
    margin-left: 147px;
}

.ibi .section-header-text {
    display: flex;
}

.ibi .section-adress-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ibi .section-header-text .left-text-section {
    margin-right: 267px;
}

.ibi .section-header-text .left-text-section .left-info-section {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #8b95a0;
    margin-bottom: 30px;
}

.ibi .section-header-text .left-text-section .left-number-section {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #2d3845;
}

.ibi .section-header-text .right-text-section .right-mail-section {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #8b95a0;
    margin-bottom: 30px;
}

.ibi .section-header-text .right-text-section .right-emmail-section {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #2d3845;
}

.ibi .section-adress-text .section-adress-info {
    margin-top: 100px;
}

.ibi .section-adress-text .section-adress-info .section-adress-infoo {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #8b95a0;
}

.ibi .section-adress-text .section-adress-info .section-adress-paragraf {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #2d3845;
    margin-bottom: 100px;
}

.ibi .section-adress-text .section-big-map {
    position: relative;
}

.ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons {
    background: #ffffff;
    position: absolute;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    width: 295px;
    height: 84px;
    border: none;
    cursor: pointer;
    top: 35%;
    left: 35%;
}

.ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons span img {
    padding-left: 20px;
}

.ibi .application .application-info .application-text {
    font-weight: 600;
    font-size: 100px;
    line-height: 120%;
    color: #2d3845;
    margin-top: 230px;
}

.ibi .application .application-info .application-paragraf {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 160%;
    width: 750px;
    margin-top: 40px;
    margin-bottom: 52px;
    color: #2d3845;
}

.ibi .application .application-social ul {
    display: flex;
    align-items: center;
}

.ibi .application .application-social ul li img {
    margin-right: 10px;
    background: #f4f8fa;
    border-radius: 12px;
    padding: 12px;
}

.ibi .application .application-social ul li .application-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 40px;
}

.necessary {
    margin-top: 100px;
}

.necessary .necessary-info .necessary-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #2d3845;
    margin-bottom: 30px;
}

.resurs .resurs-info .resurs-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #2d3845;
    margin-bottom: 20px;
}

.necessary .necessary-info .necessary-buttons,
.resurs .resurs-info .resurs-buttons {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
}

.necessary .necessary-info .necessary-buttons .necessary-button,
.resurs .resurs-info .resurs-buttons .resurs-button,
.budget .budget-info .budget-buttons .budget-button,
.data .data-info .data-buttons .data-button {
    margin-bottom: 20px;
    background: #ffffff;
    border: 2px solid #ebf2f5;
    box-sizing: border-box;
    border-radius: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #2d3845;
    padding: 18px 30px;
    margin-right: 20px;
    cursor: pointer;
}

.necessary .necessary-info .necessary-buttons .necessary-button-active,
.resurs .resurs-info .resurs-buttons .resurs-button-active {
    background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
    color: white;
}

.necessary .necessary-info .necessary-input input,
.resurs .resurs-info .resurs-input input {
    background: #f4f8fa;
    border: 2px solid #f4f8fa;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    width: 1010px;
    height: 64px;
    padding-left: 30px;
    margin-top: 40px;
    color: #8b95a0;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 100px;
}

.necessary .necessary-info .necessary-input input:focus,
.resurs .resurs-info .resurs-input input:focus,
.contacts .contact-info .contact-inputs input:focus {
    outline: none;
}

.budget .budget-info .budget-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    margin-bottom: 20px;
    color: #2d3845;
}

.contacts .contact-info .contact-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #2d3845;
    margin-top: 100px;
    margin-bottom: 20px;
}

.contacts .contact-info .contact-inputs input {
    display: block;
    margin-bottom: 30px;
    width: 1010px;
    height: 64px;
    padding-left: 30px;
    background: #f4f8fa;
    border: 2px solid #f4f8fa;
    box-sizing: border-box;
    border-radius: 12px;
}

.contacts .contact-info .contact-inputs input:last-child {
    margin-bottom: 100px;
    padding-bottom: 70px;
    width: 1010px;
    height: 140px;
}

.data .data-info .data-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    margin-bottom: 20px;
    color: #2d3845;
}

.data .data-info .data-paragraf {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    width: 1010px;
    margin-bottom: 100px;
    color: #8b95a0;
}

.send {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.send .send-buttons .send-button span img {
    margin-left: 20px;
    background: #f4f8fa;
    border-radius: 12px;
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
}

.send .send-buttons .send-button {
    display: flex;
    align-items: center;
    background: transparent;
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: none;
}

.send p {
    font-size: 12px;
    line-height: 135%;
    color: #8b95a0;
    margin-left: 40px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {}


/* -------------------------loptop---------------------------- */

@media screen and (max-width: 1366px) and (min-width: 990px) {}

@media screen and (max-width: 989px) and (min-width: 768px) {
    .ibi .section-header-text .left-text-section {
        margin-right: 204px;
    }
    header nav .header-left .dropdown .dropdown-item .dropdown-item-a {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #2D3845;
    }
    .ibi {
        margin-left: 0;
    }
    header nav .header-right-ul ul {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    header nav .header-right-ul .header-right-bars button {
        width: 0;
    }
    .ibi .section-header-text .left-text-section .left-info-section {
        font-size: 18px;
        width: 234px;
    }
    .ibi .section-header-text .left-text-section .left-number-section {
        font-size: 36px;
        width: 276px;
    }
    .ibi .section-header-text .right-text-section .right-mail-section {
        font-size: 18px;
    }
    .ibi .section-header-text .right-text-section .right-emmail-section {
        font-size: 36px;
        width: 324px;
    }
    .ibi .section-adress-text .section-adress-info .section-adress-infoo {
        font-size: 18px;
    }
    .ibi .section-adress-text .section-adress-info .section-adress-paragraf {
        font-size: 36px;
    }
    .ibi .application .application-info .application-text {
        font-size: 65px;
    }
    .ibi .application .application-info .application-paragraf {
        font-size: 23px;
    }
    .ibi .application .application-social ul li .application-phone {
        font-size: 18px;
    }
    .necessary .necessary-info .necessary-input input,
    .resurs .resurs-info .resurs-input input {}
}