* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans;
}

/* ============================================ Applications ============================================ */
/* ============================================ Applications ============================================ */
/* ============================================ Applications ============================================ */
.Applications {
    background-color: #2D3845;
    height: 861px;
    overflow: hidden;
}

.Applications .applications-content {
    display: flex;
    justify-content: space-between;
}

.Applications .applications-content .application-left-content {
    width: 750px;
}

/* APPLICATION-LEFT */
.Applications .applications-content .application-left-content .application-left-text .applications-left-text {
    width: 750px;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 120px;
    color: #FFFFFF;
    margin-bottom: 40px;
    padding-top: 160px;
}

.Applications .applications-content .application-left-content .application-left-description .applications-left-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content .application-mini-left-inputs .application-mini-left-inputs-left-content .application-left-input {
    display: flex;
    flex-direction: column;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content .application-mini-left-inputs .application-mini-left-inputs-left-content .application-left-input .applications-left-input {
    width: 330px;
    height: 64px;
    border-radius: 12px;
    padding: 18px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    background-color: #3C4A5A;
    border: 2px solid #3C4A5A;
    color: #8B95A0;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content .application-mini-left-inputs .application-mini-left-inputs-left-content .application-left-input .applications-left-input:nth-child(1) {
    margin-bottom: 30px;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content .application-mini-left-inputs .application-mini-left-inputs-left-content .application-left-input .applications-left-input:focus {
    outline: none;
}

/* -mini */
.Applications .applications-content .application-left-content .application-mini-all-content {
    display: flex;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content {
    margin-right: 60px;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-right-content .application-mini-right-text .applications-mini-right-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-right-content .application-mini-right-time {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-right-content .application-mini-right-time .applications-mini-right-time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
    border: 2px solid #3C4A5A;
    border-radius: 6px;
    width: 108px;
    height: 39px;
}

.Applications .applications-content .application-left-content .application-mini-all-content .application-mini-right-desciption .applications-mini-right-description {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    color: #8B95A0;
}

.Applications .applications-content .application-left-content .application-footer {
    display: flex;
    margin-top: 65px;
}


.Applications .applications-content .application-left-content .application-footer .application-button .applications-button {
    display: flex;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    line-height: 150%;
    color: #FFFFFF;
}

.Applications .applications-content .application-left-content .application-footer .application-button .applications-button .applications-button-icon .applications-button-icon-img {
    margin-left: 20px;
    cursor: pointer;
    background-color: #3C4A5A;
    padding: 15px;
    border-radius: 12px;
}

.Applications .applications-content .application-left-content .application-footer .application-description .applications-description {
    margin-left: 40px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 135%;
    color: #8B95A0;
}

.Applications .applications-content .application-left-content .application-footer .application-description .applications-description span {
    color: #FFFFFF;
}

.Applications .applications-content .application-right-content {
    margin-left: 40px;
    margin-top: 60px;
}


/* ============================================================= Applications END =============================================================*/
/* ============================================================= Applications END =============================================================*/
/* ============================================================= Applications END =============================================================*/


/*============================================ Resuls ============================================*/
/*============================================ Resuls ============================================*/
/*============================================ Resuls ============================================*/

.Resuls .resuls-text .big-text-resuls {
    margin-top: 200px;
    width: 1083px;
    font-weight: 600;
    font-size: 80px;
    line-height: 120%;
    color: #2D3845;
}

.Resuls .resuls-text .big-text-resuls span {
    color: #3088A5;
}

.big-content-resuls {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.resuls-text-mini p {
    width: 490px;
    margin-right: 150px;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #2D3845;
}

.resuls-text-mini p:first-child {
    margin-bottom: 100px;
}

.resuls-text-mini p span {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #29779D;
}

.big-content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: transparent;
}

.big-content-buttons {
    border-radius: 12px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    background: #1B558D;
    padding-bottom: 37px;
    padding-left: 37px;
    margin-right: 20px;
    border: none;
    font-size: 20px;
    line-height: 150%;
}

.big-content-buttons span {
    padding-right: 60px;
    padding-left: 20px;
}

.big-content-buttons span img {
    padding: 14px;
    background: #FFFFFF;
    border-radius: 12px;
    padding-top: 17px;
}

/*============================================ Resuls END ============================================*/
/*============================================ Resuls END ============================================*/
/*============================================ Resuls END ============================================*/