    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Nunito Sans;
    }
    /* ============================================ Applications ============================================ */
    /* ============================================ Applications ============================================ */
    /* ============================================ Applications ============================================ */
    
    .Applications {
        background-color: #2D3845;
        height: 861px;
        overflow: hidden;
    }
    
    .Applications .applications-content {
        display: flex;
        justify-content: space-between;
    }
    
    .Applications .applications-content .application-left-content {
        width: 750px; 
    }
    /* APPLICATION-LEFT */
    
    .Applications .applications-content .application-left-content .application-left-text .applications-left-text {
        width: 750px;
        font-style: normal;
        font-weight: 600;
        font-size: 100px;
        line-height: 120px;
        color: #FFFFFF;
        margin-bottom: 40px;
        padding-top: 160px;
    }
    
    .Applications .applications-content .application-left-content .application-left-description .applications-left-description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        margin-bottom: 60px;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content .application-mini-left-inputs .application-mini-left-inputs-left-content .application-left-input {
        display: flex;
        flex-direction: column;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content .application-mini-left-inputs .application-mini-left-inputs-left-content .application-left-input .applications-left-input {
        width: 330px;
        height: 64px;
        border-radius: 12px;
        padding: 18px 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        background-color: #3C4A5A;
        border: 2px solid #3C4A5A;
        color: #8B95A0;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content .application-mini-left-inputs .application-mini-left-inputs-left-content .application-left-input .applications-left-input:nth-child(1) {
        margin-bottom: 30px;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content .application-mini-left-inputs .application-mini-left-inputs-left-content .application-left-input .applications-left-input:focus {
        outline: none;
    }
    /* -mini */
    
    .Applications .applications-content .application-left-content .application-mini-all-content {
        display: flex;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-left-content {
        margin-right: 60px;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-right-content .application-mini-right-text .applications-mini-right-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-right-content .application-mini-right-time {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-right-content .application-mini-right-time .applications-mini-right-time {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: #FFFFFF;
        border: 2px solid #3C4A5A;
        border-radius: 6px;
        width: 108px;
        height: 39px;
    }
    
    .Applications .applications-content .application-left-content .application-mini-all-content .application-mini-right-desciption .applications-mini-right-description {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: #8B95A0;
    }
    
    .Applications .applications-content .application-left-content .application-footer {
        display: flex;
        margin-top: 65px;
    }
    
    .Applications .applications-content .application-left-content .application-footer .application-button .applications-button {
        display: flex;
        background: transparent;
        border: none;
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;
        line-height: 150%;
        color: #FFFFFF;
    }
    
    .Applications .applications-content .application-left-content .application-footer .application-button .applications-button .applications-button-icon .applications-button-icon-img {
        margin-left: 20px;
        cursor: pointer;
        background-color: #3C4A5A;
        padding: 15px;
        border-radius: 12px;
    }
    
    .Applications .applications-content .application-left-content .application-footer .application-description .applications-description {
        margin-left: 40px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 12px;
        line-height: 135%;
        color: #8B95A0;
    }
    
    .Applications .applications-content .application-left-content .application-footer .application-description .applications-description span {
        color: #FFFFFF;
    }
    
    .Applications .applications-content .application-right-content {
        margin-left: 40px;
        margin-top: 60px;
    }
    /* ============================================================= Applications END =============================================================*/
    /* ============================================================= Applications END =============================================================*/
    /* ============================================================= Applications END =============================================================*/
    /*============================================ Resuls ============================================*/
    /*============================================ Resuls ============================================*/
    /*============================================ Resuls ============================================*/
    
    .Resuls .resuls-text .big-text-resuls {
        margin-top: 200px;
        width: 1083px;
        font-weight: 600;
        font-size: 80px;
        line-height: 120%;
        color: #2D3845;
    }
    
    .Resuls .resuls-text .big-text-resuls span {
        color: #3088A5;
    }
    
    .big-content-resuls {
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
    }
    
    .resuls-text-mini p {
        width: 490px;
        margin-right: 150px;
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        color: #2D3845;
    }
    
    .resuls-text-mini p:first-child {
        margin-bottom: 100px;
    }
    
    .resuls-text-mini p span {
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        color: #29779D;
    }
    
    .big-content-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        background: transparent;
    }
    
    .big-content-buttons {
        border-radius: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        background: #F4F8FA;
        color: #246B97;
        border: none;
        padding: 37px 60px;
        display: flex;
        align-items: center;
        padding-right: 20px;
    }
    
    .big-content-buttons span {
        display: flex;
        align-items: center;
        padding-right: 60px;
    }
    
    .big-content-buttons span img {
        padding: 14px;
    }
    /*============================================ Resuls END ============================================*/
    /*============================================ Resuls END ============================================*/
    /*============================================ Resuls END ============================================*/

    /*============================================ Boxes ============================================*/
    /*============================================ Boxes ============================================*/
    .boxes .boxes-text h1{
        font-size: 5.5em;
        font-weight: 700;
    }
    .boxes .boxes-texts{
        margin-top: 100px;
    }
    .boxes .boxes-texts p{
        font-size: 2.5em;
        margin-left: 200px;
    }
    .boxes .boxes-texts .boxes-position{
        position: absolute;
        right: 300px;
        top: 60px;
    }
    .boxes .boxes-texts .boxes-position h1{
        font-size: 20em;
        font-weight: 700;
        color: #29779D;
    }
    .boxes .boxes-texts .boxes-position span{
        font-size: 5em;
        font-weight: 600;
        color: #29779D;
    }
    .boxes .boxes-percent{
        margin-top: 100px;
    }
    .boxes .boxes-percent .percent-start{
        height: 170px;
        width: 800px;
        border-radius: 20px 0 0 20px;
        background: linear-gradient(to right,#7eabff,#246B97);
        position: relative;
    }
    .percent-start::before{
        content: "";
        background: rgb(209, 255, 251);
        /* background: black; */
        width: 5px;
        height: 200px;
        position: absolute;
        bottom: -15px;
        left: 200px;
    }
    .boxes .boxes-percent .percent-end{
        height: 170px;
        width: 800px;
        border-radius:0 20px  20px 0;
        background: rgb(208, 232, 255);
    }
    .boxes .boxes-percent .btn{
        background: #F4F8FA;
        padding: 37px 60px;
        font-size: 1.5em;
        border-radius: 15px;
        margin: 100px auto;
        color: #246B97;
    }
    .boxes .boxes-percent .btn span{
        padding: 14px;
    }
    .boxes .boxes-panel{
        border-radius: 20px;
        height: 600px;
        width: 1600px;
        background: #F4F8FA;
        margin: 100px auto;
    }
    .h1-padding h1{
        height: 80px;
        width: 80px;
        background: linear-gradient(to right,#6185c9,#115077);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .boxes .boxes-panel h3{
        color: #8B95A0;
    }
    .boxes .boxes-panel .imgg{
        padding: 20px 20px;
        border-radius: 20px;
        background: white;
    }
    .boxes .boxes-panel .imgg img{
        transform: rotate(45deg);
        height: 40px;
    }
    /*============================================ Boxes End ============================================*/
    /*============================================ Boxes End ============================================*/
    /*============================================ content ============================================*/
    /*============================================ content ============================================*/

    .content .content-text h1{
        font-size: 7em;
        font-weight: 600;
        margin-left: 200px;
    }
    .content .content-text h1:nth-child(2){
        margin-left: 100px;
    }
    .content .content-text h1:nth-child(3){
        color: #29779D;
    }
    .content .content-img-item div:first-child{
        margin-top: 100px;
        border-radius: 15px;
    }
    .content .content-img-item div:first-child .img1{
        height: 300px;
        position: relative;
        border-radius: 15px;
    }
    .content .content-img-item div:first-child .img3{
        height: 300px;
        border-radius: 15px;
    }
    .content .content-img-item div:first-child .img2{
        height: 500px;
        margin-bottom: 100px;
    }
    .content .content-img-item div .img4{
        height: 300px;
        border-radius: 15px;
    }
    .content .content-img-item .content-text h2:first-child{
        position: absolute;
        top: -850px;
        color: white;
        left: 140px;
        font-size: 2.8em;
        font-weight: 700;
    }
    .content .content-img-item .content-text h2:nth-child(2){
        position: absolute;
        top: -850px;
        color: white;
        right: 140px;
        font-size: 2.8em;
        font-weight: 700;
    }
    .content .content-img-item .content-text h2:nth-child(3){
        position: absolute;
        top: -250px;
        color: white;
        left: 800px;
        font-size: 2.8em;
        font-weight: 700;
        
    }
    .content .content-img-item .content-text{
        margin-bottom: 100px;
    }